!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

**/HELP.md
**/.DS_Store
**/*.jar
**/.project
**/.classpath
**/.settings/
**/target/
**/.factorypath
### IntelliJ IDEA  ###
**/.idea/
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/

### VS Code ###
**/.vscode/
